<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="atsumi.android.appmanager">

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents">
        <activity android:name=".ui.app_info.AppInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
